.masterContainer {
    display: flex;
    width: 33vh;
    margin: 15px;
    border: 5px solid rgb(240, 240, 240);
    border-radius: 5px;

}

.searchList {

    display: flex;
    flex-direction: column;

}


.selected {
    background-color: black;
    color: white;
    padding-bottom: 10px;

}